:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.55;
  letter-spacing: -0.011em;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
